<!-- <form (submit)="loginUser($event)" >
  <input type="text" placeholder="Username" id="username">
  <input type="password" placeholder="Password" id="password">
  <input type="submit" placeholder="Submit">
</form> -->

<div class="d-flex justify-content-center">
    <!-- <div >
        <p>
            home works!
            <a routerLink="/login">Login</a>
            <a routerLink="/admin">Admin</a>
          </p>
    </div> -->
    
    <form (submit)="loginUser($event)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
        <small id="emailHelp" class="form-text text-muted">Enter valid username and passwords.</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>